@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.carousel-root {
  max-width: 100%;
  margin: auto;
}

.carousel .slide {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.5;
  transform: scale(0.8);
}

.carousel .slide.selected {
  opacity: 1;
  transform: scale(1);
}

.carousel .carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* ChatBotSection.css */
.chatbot-section {
  background-color: rgba(241, 245, 249, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 24px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fixed-height {
  height: 400px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar styles */
.messages::-webkit-scrollbar {
  width: 12px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.message {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
}

.message.user .message_text {
  font-size: 16px;
}

.message.bot .message_text {
  font-size: 16px;
}

.message.user {
  align-self: flex-end;
  background-color: #141e61;
  border-top-right-radius: 0px;
}

.message.bot {
  align-self: flex-start;
  background-color: #52546c;
  border-top-left-radius: 0px;
}

.timestamp {
  display: block;
  font-size: 12px;
  color: #fff;
  margin-top: 4px;
}

.message.bot .timestamp {
  right: 8px;
  text-align: right;
}

.message.user .timestamp {
  left: 8px;
  text-align: left;
}

.phrases-container {
  display: flex;
  overflow-x: auto;
  padding: 8px;
  margin: 8px 0;
  margin-bottom: 0;
  font-size: 14px;
}

.phrase-button {
  background-color: #0f044c;
  color: #fff;
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.phrase-button:hover {
  background-color: #758694;
}

.input-container {
  display: flex;
  padding: 8px;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 10px;
  margin-right: 8px;
  outline: none;
  background-color: #f0f0f0;
  color: black;
}

.input-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 640px) {
  .chat-container {
    padding: 16px;
    max-width: 100%;
  }

  .input-container input {
    padding: 8px;
  }

  .input-container button {
    padding: 8px;
  }

  .messages {
    max-height: 300px;
  }
}


/* MainSection.css */
.main-section {
  background-color: #040d12;
  padding: 2.5rem;
  border-radius: 1.875rem;
  z-index: 10;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/abu_app.png");
  height: 60vh;
}

/* MainSection.css */
.inner-container {
  background-color: rgba(241, 245, 249, 0.7);
  border-radius: 1.875rem;
  padding: 1.5rem;
  border: 4px solid #0f044c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.title {
  color: #0f044c;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  z-index: 20;
}

@media (min-width: 640px) {
  .main-section {
    padding: 4rem;
  }
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2rem;
  }
}

/* ChatBotSection.css */
.chatbot-section {
  background-color: rgba(241, 245, 249, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 24px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fixed-height {
  height: 400px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar styles */
.messages::-webkit-scrollbar {
  width: 12px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.message {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
}

.message.user .message_text {
  font-size: 16px;
}

.message.bot .message_text {
  font-size: 16px;
}

.message.user {
  align-self: flex-end;
  background-color: #141e61;
  border-top-right-radius: 0px;
}

.message.bot {
  align-self: flex-start;
  background-color: #52546c;
  border-top-left-radius: 0px;
}

.timestamp {
  display: block;
  font-size: 12px;
  color: #fff;
  margin-top: 4px;
}

.message.bot .timestamp {
  right: 8px;
  text-align: right;
}

.message.user .timestamp {
  left: 8px;
  text-align: left;
}

.phrases-container {
  display: flex;
  overflow-x: auto;
  padding: 8px;
  margin: 8px 0;
  margin-bottom: 0;
  font-size: 14px;
}

.phrase-button {
  background-color: #0f044c;
  color: #fff;
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.phrase-button:hover {
  background-color: #758694;
}

.input-container {
  display: flex;
  padding: 8px;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 10px;
  margin-right: 8px;
  outline: none;
  background-color: #f0f0f0;
  color: black;
}

.input-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 640px) {
  .chat-container {
    padding: 16px;
    max-width: 100%;
  }

  .input-container input {
    padding: 8px;
  }

  .input-container button {
    padding: 8px;
  }

  .messages {
    max-height: 300px;
  }
}
